@import "tailwindcss";

:root {
  --background: #1231FF;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-manrope: var(--font-manrope);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Custom Scrollbar for Dropdown */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 17px;
  margin-bottom: 17px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@keyframes blurFlash {
  0% { filter: blur(10px); transform: perspective(500px) rotateX(60deg) translateY(20px); opacity: 0; }
  100% { filter: blur(0px); transform: perspective(500px) rotateX(0deg) translateY(0px); opacity: 1; }
}

.blur-flash-anim {
  animation: blurFlash 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
